<div class="flex items-center gap-5 border border-slate-100 rounded-xl p-5">
  <img
    [src]="'assets' + item.imageUrl"
    class="w-16 h-16 object-cover rounded-lg"
    alt="Sneaker"
  />
  <div class="flex-1 min-w-0">
    <p class="text-sm truncate">{{ item.title }}</p>
    <b>{{ item.price | number: '1.2-2' }} $</b>
  </div>
  <img
    (click)="onRemove()"
    src="assets/icons/close.svg"
    class="cursor-pointer opacity-40 hover:opacity-100 transition w-8 h-8"
    alt="Remove"
  />
</div>
