<header
  class="sticky top-0 z-10 bg-white/80 backdrop-blur-xl flex justify-between border-b border-slate-200 lg:rounded-t-xl px-6 sm:px-10 py-6 sm:py-8"
>
  <div class="flex items-center gap-4">
    <img
      routerLink="/home"
      src="assets/logos/logo.png"
      alt="Logo"
      class="w-11 cursor-pointer"
    />

    <div class="hidden sm:block">
      <h2 class="font-bold text-xl uppercase">Angular Sneakers</h2>
      <p class="text-slate-400 text-sm">Best Sneakers Shop</p>
    </div>
  </div>

  <ul class="flex items-center gap-5 sm:gap-10">
    <li
      (click)="openCart()"
      class="flex items-center gap-3 cursor-pointer hover:opacity-70 transition"
    >
      <img src="assets/icons/cart.svg" alt="Cart" />
      <b class="hidden sm:inline">{{ cartTotal$ | async | number: '1.2-2' }} $</b>
    </li>

    <li
      routerLink="/favorites"
      class="flex items-center gap-3 cursor-pointer hover:opacity-70 transition"
    >
      <img src="assets/icons/heart.svg" alt="Favorites" />
      <span class="hidden sm:inline">Favorites</span>
    </li>
  </ul>
</header>
