<div
  class="relative flex flex-col w-full border border-slate-100 rounded-xl p-8 cursor-pointer transition hover:shadow-xl hover:transform hover:-translate-y-2"
>
  <div (click)="onFavoriteClick()" class="absolute top-8 left-8">
    <img
      [src]="
        item.isFavorite ? 'assets/icons/like-2.svg' : 'assets/icons/like-1.svg'
      "
      alt="Favorite"
    />
  </div>

  <img [src]="'assets' + item.imageUrl" class="w-full" alt="Sneaker" />

  <p>{{ item.title }}</p>

  <div class="flex justify-between items-end mt-5">
    <div class="flex flex-col gap-2">
      <span class="text-slate-400 text-xs">Price:</span>
      <span class="font-bold">{{ item.price | number: '1.2-2' }} $</span>
    </div>

    <img
      (click)="onAddToCart()"
      [src]="isInCart ? 'assets/icons/checked.svg' : 'assets/icons/plus.svg'"
      class="cursor-pointer w-8 h-8"
      alt="Add to cart"
    />
  </div>
</div>
